<!-- <p>home works!</p> -->
  <main>
    <div class="intro">
      <h1>Software Management System</h1>
      <h2>Welcome to our Software Management System</h2>
      <p>Efficiently manage and organize your software applications.</p>
      <div>
        <p>
          This is a brief introduction to our website.
          <button (click)="toggleReadMore()">Read More</button>
        </p>
        <div *ngIf="showMoreInfo">
          <p>
            A software management system, also known as a software or application management system, is a set of tools and processes used to effectively manage and maintain software applications throughout their lifecycle. Such systems are crucial for organizations that develop, deploy, and maintain software to ensure efficiency, reliability, security, and compliance with regulations.
          </p>
        </div>
      </div>
    
  
     

  <!-- <footer class="footer"> 
    <div class="copy">&copy; 2023 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
       </div> 

       
       <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div> 
    </div>
  </footer>-->
  

