<!-- <p>about works!</p> -->
<link rel="stylesheet" href="about.component.css">
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> An About Us Page | CoderGirl </title>
  <!---Custom Css File!--->
  <link rel="stylesheet" href="about.component.css">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <img src="assets/about1.jpg" class="pic">
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developer & <span>Designer</span></h5>
          <p>A Software Management System, often referred to as a Software Management Platform or Software Lifecycle Management, is a comprehensive framework designed to streamline and optimize the various stages of software development, deployment, and maintenance. This system encompasses a range of crucial components and practices to ensure the efficient planning, creation, testing, deployment, and ongoing support of software applications.</p>
        <div class="data">
        <a href="#" class="hire">LearnMore</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
      </div>
  </div>

  


  

